body {
    font-family: "Roboto", Verdana, Geneva, Tahoma, sans-serif;
  }

  footer {
    text-align: center;
    padding: 20px;
    background-color: #B6A696;
  }

  header {
    display: center;
    text-align: center;
    justify-content: space-evenly;
    background: #427784;
    color: white;
    font-size: 15px;
  }
 
  nav {
    margin-left: 25px;
    display: none;
    position: fixed;
    top: 45px;
   background: #B6A696;
   color: white;
    z-index: 1000;
    right: 0px;
  }
  
  nav ul {
    padding: 0px;
  }
  
  nav li {
    display: block;
    padding: 20px 30px;
  }
  
  #hamburger-menu {
    display: none;
  }
  
  #hamburger-menu:checked ~ nav {
    display: block;
  }