body {
  margin: 0;
    font-family: "Roboto", Verdana, Geneva, Tahoma, sans-serif;
  }

  footer {
    display: center;
    text-align: center;
    justify-content: space-evenly;
    padding: 20px;
    background-color: #B6A696;
    font-size: 25px;
  }

  header {
    display: center;
    text-align: center;
    justify-content: space-evenly;
    background: #427784;
    color: white;
    font-size: 15px;
  }
 
  .navigation-bar {
    background-color: #B6A696; 
    overflow: hidden;
  }

.navigation-bar a {
  float: center;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 50px;
  text-decoration: none;
  font-size: 40px;
}


.navigation-bar input[type=text] {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 50px;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.navigation-bar a:hover {
  background-color: #427784;
}

